@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 12%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 12%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 12%;
    --primary: 262 83% 58%; /* violet-500 */
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 240 6% 20%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 240 5% 96%;
    --accent-foreground: 240 6% 20%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 262 83% 58%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 7%;
    --foreground: 0 0% 96%;
    --card: 240 9% 9%;
    --card-foreground: 0 0% 96%;
    --popover: 240 9% 9%;
    --popover-foreground: 0 0% 96%;
    --primary: 262 83% 66%;
    --primary-foreground: 240 10% 7%;
    --secondary: 240 5% 15%;
    --secondary-foreground: 0 0% 96%;
    --muted: 240 5% 15%;
    --muted-foreground: 240 5% 60%;
    --accent: 240 5% 16%;
    --accent-foreground: 0 0% 96%;
    --destructive: 0 63% 50%;
    --destructive-foreground: 0 0% 96%;
    --border: 240 5% 18%;
    --input: 240 5% 18%;
    --ring: 262 83% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "cv11", "ss01";
  }
}
